body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: orange;
    display: flex;
    justify-content: center;
    width: 40%;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header-main-container {
    display:flex;
    flex: 1;
}


.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: 100%;
}

.login-container {
    width: 50%;
    height: 60%;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    min-width: 12.5rem;
    border-radius: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.field label {
    font-weight: bold;
}

.text-field {
    width: 100%;
    height: 50px;
    font-size: .9em;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    border: 1px solid gray;
}

.text-field:focus-visible {
    outline: none;
    border: none;
    box-shadow: 0 0 5px orange;
}

.field a {
    margin: auto;
}

.submit-login {
    width: 50%;
    height: 3em;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

@media (max-width: 768px) {
    .header-main-container {
        flex-direction: column;
    }

    header {
        width: 100%;
    }

    .login-container {
        height: 70%;
    }

}