

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Overpass", sans-serif;
}

.shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.333);
}